.header {
    background-color: #2c3e50;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* width: 300%; */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    z-index: 1000;
    color: white;
    height: 40px;
    z-index: 10000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
 
}

.nav h1 {
    color: white;
    margin: 0;
    font-size: 24px;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
    /* margin-top: 150px; */
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-menu li a:hover {
    background-color: #34495e;
}

.nav-menu li a.active {
    background-color: #3498db;
}